body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#board {
  background-color: black;
}